<h2>生成された画像の確認</h2>
<div>
  <%= image_tag @post.picture, width: '315' %>
</div>

<h2>Step 3</h2>
<a href="#" targe="_blank" class="square_btn" data-show-count="false">Twitterへ投稿</a>

<div>
  <%= link_to "画面編集へ戻る", edit_post_path(@post) %>
</div>


<div>
  <%= link_to "トップページ へ", root_path %>
</div>